/* Your banner CSS code here */

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('../../images/greenplanet.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

.banner-content { 
	text-align: left;
  padding: 30px;
	font-weight: lighter;
 }

 .banner-content h1 {
 	font-size: 80px;
 	color: white;
  margin-bottom: 0px;
 }

.banner-content h2 {
  font-size: 40px;
  color: white;
  margin-top: 0px;
 }

 .banner-content p {
	background-color: rgba(256,256,256,0.3);
	color: #ffffff;
  margin-bottom: 50px;
	font-size: 36px};
 }

.banner2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: grey;
  border-radius: 5px;
}

.list {
  text-align: center;
  font-weight: lighter;
  padding: 20px;
  margin: 20px;
  font-size: 20px;

}


.list p {
  margin-bottom: 40px;
}

