.inbox {
  padding-left: 0px;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}

.message {
	background: white;
	padding: 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Your turn to design a flexbox message */
}

.message-name {
	flex: 0 0 75px; /*other option is to do max-width*/
	padding:5px;
}

.p-flat {
	font-size: 12px;
}

.p-light {
	font-size: 12px;
	opacity: 0.5;
}

.message-body {
	padding:5px;
	flex: 1 0 200px;
}


.message-status {
	padding:5px;
}

.accepted {
	color: red;

}

.declined {
	color: green;

}

.pending {
	opacity: 0.5;
}